---
import { getEntry, render } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import Main from "@/components/Main.astro";
import Footer from "@/components/Footer.astro";
import config from "@/config";

const services = await getEntry("pages", "services");

if (!services) {
  throw new Error(
    "Missing content entry: `services.md` or `services.mdx` in `src/content/pages/`"
  );
}

const { Content } = await render(services);
---

<Layout
  title={`${services.data.title} | ${config.site.title}`}
  description={services.data.description}
  ogImage={services.data.ogImage}
  canonicalURL={services.data.canonicalURL}
>
  <Header />

  <Breadcrumb />

  <Main pageTitle={services.data.title} class="app-prose">
    <Content />
  </Main>

  <Footer />
</Layout>